@model Pazar.Models.AdDTO

@{
    ViewBag.Title = "Delete Confirmation";
}

<h2>Delete Confirmation Required</h2>

<h3>Are you sure you want to delete this listing?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>

            </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Timestamp)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Location)
                    </td>
                </tr>
        </table>

        <form method="POST" action="/PazarView/Delete/@Model.AdId">

            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "ShowUserAds")
            </div>
        </form>
</div>
